* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

/* NAVBAR */
a {
    transition: .3s all ease;
    color: #f1bc31; 
    text-decoration: none;
}
a:hover, a:focus {
    outline: none !important;
    box-shadow: none; 
}
.social-media {
    display: inline-block; 
}
.social-media p a {
    width: 34px;
    height: 34px;
    background: black;
    margin-right: 1px; 
}
.social-media p a span {
    color: white; 
}
.social-media p a:hover {
    background: #f1bc31;
    border-color: #f1bc31; 
}
.social-media p a:hover span {
    color: white; 
}

.nas-navbar-dark {
    background: white !important;
    z-index: 3;
    padding: 0;
    box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34); 
}

@media (max-width: 991.98px) {
    .nas-navbar-dark {
        background: white;
        position: relative;
        top: 0;
        padding: 10px 15px; 
    } 
}

@media (max-width: 991.98px) {
    .nas-navbar-dark .navbar-nav {
        padding-bottom: 10px; 
    } 
}

@media (max-width: 991.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem; 
    }
    .nas-navbar-dark .navbar-nav > .nav-item > .nav-link:hover {
        color: white; 
    } 
}

/* Fix for mobile view dropdown menu */
@media (max-width: 991.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item .dropdown-menu {
        display: none;
        background: white;
        box-shadow: none;
    }
    .nas-navbar-dark .navbar-nav .dropdown.show .dropdown-menu {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item.cta > a {
        color: white;
        background: #f1bc31;
        border-radius: 4px; 
    } 
}

@media (max-width: 991.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item.active > a {
        color: black;
        background: #f1bc31; 
    }
    .nas-navbar-dark .navbar-nav > .nav-item.active > a:before {
        display: none; 
    } 
}

.nas-navbar-dark .navbar-brand {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.nas-navbar-dark .navbar-brand span {
    display: block;
    font-size: 16px;
    font-weight: 500; 
}

.nas-navbar-dark .navbar-brand:hover, .nas-navbar-dark .navbar-brand:focus {
    color: black; 
}

.nas-navbar-dark .navbar-brand:hover {
    color: #f1bc31;
}

@media (max-width: 767.98px) {
    .nas-navbar-dark .navbar-brand {
        margin-bottom: 20px; 
    } 
}

@media (max-width: 767.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item > .nav-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
    } 
}

@media (max-width: 767.98px) {
    .nas-navbar-dark .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; 
    } 
}

.nas-navbar-dark .navbar-nav > .nav-item > .nav-link {
    font-size: 11px;
    padding: 2rem 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important; 
}

.nas-navbar-dark .navbar-nav > .nav-item > .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f1bc31;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
    z-index: -1; 
}

.nas-navbar-dark .navbar-nav > .nav-item > .nav-link:hover {
    color: black; 
}

.nas-navbar-dark .navbar-nav > .nav-item > .nav-link:hover:before {
    visibility: visible;
    background-color: #f1bc31;
    transform: scaleX(1); 
}

.nas-navbar-dark .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: white;
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.nas-navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.nas-navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: black; 
}

.nas-navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .nas-navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    background: #f1bc31;
    color: white; 
}

.nas-navbar-dark .navbar-nav > .nav-item.cta > a {
    color: white;
    background: #f1bc31;
    border-radius: 0px; 
}

.nas-navbar-dark .navbar-nav > .nav-item.active > a {
    color: black; 
}

.nas-navbar-dark .navbar-nav > .nav-item.active > a:before {
    visibility: visible;
    background-color: #f1bc31;
    transform: scaleX(1); 
}

.nas-navbar-dark .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; 
}

.nas-navbar-dark .navbar-toggler:focus {
    outline: none !important; 
}
/*CAROUSEL*/
.carousel
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.carousel .list .item
{
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .sadrzajNaSlici
{
    position: absolute;
    top: 20px;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px black;
}
.carousel .list .item .sadrzajNaSlici .author
{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .sadrzajNaSlici .topic, .carousel .list .item .sadrzajNaSlici .title
{
    font-weight: bold;
    line-height: 1.3em;
    font-size: 5em;
}
.carousel .list .item .sadrzajNaSlici .topic
{
    color:#f1bc31;
}
.carousel .list .item .sadrzajNaSlici .dugmadNaSlideru
{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .sadrzajNaSlici button
{
    border: none;
    background-color: white;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.carousel .list .item .sadrzajNaSlici button:nth-child(2)
{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
/*thumbnail css*/
.thumbnail
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
}
.thumbnail .item
{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail .item .sadrzaj
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .sadrzaj .title
{
    font-weight: bold;
}
/*strelice*/
.strelice
{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.strelice button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 1;
}
.strelice button:hover
{
    background-color: white;
    color: gray;
}
/*aktivni item i animacija*/
.carousel .list .item:nth-child(1)
{
    z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .opis,
.carousel .list .item:nth-child(1) .dugmadNaSlideru
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: pokaziSadrzaj 0.5s 1s linear 1 forwards;
}
@keyframes pokaziSadrzaj
{
    to 
    {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item:nth-child(1) .title
{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .topic
{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .opis
{
    animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .dugmadNaSlideru
{
    animation-delay: 1.8s;
}
.carousel.sled .list .item:nth-child(1) img
{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: pokaziSliku 0.5s linear 1 forwards;
}
@keyframes pokaziSliku
{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carousel.sled .thumbnail .item:nth-last-child(1)
{
    width: 0;
    overflow: hidden;
    animation: pokaziThumbnail .5s linear 1 forwards;
}
@keyframes pokaziThumbnail
{
    to{
        width: 150px;
    }
}
.carousel.sled .thumbnail
{
    transform: translateX(150px);
    animation: transformisiThumbnail .5s linear 1 forwards;
}
@keyframes transformisiThumbnail
{
    to{
        transform: translateX(0);
    }
}
.carousel.pret .list .item:nth-child(2)
{
    z-index: 2;
}
.carousel.pret .list .item:nth-child(2) img
{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: izvanSlika 0.5s linear 1 forwards;
}
@keyframes izvanSlika
{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}
.carousel.pret .thumbnail .item:nth-child(1)
{
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: pokaziThumbnail 0.5s linear 1 forwards;
}
.carousel.pret .thumbnail .item:nth-child(2) .author,
.carousel.pret .thumbnail .item:nth-child(2) .title,
.carousel.pret .thumbnail .item:nth-child(2) .topic,
.carousel.pret .thumbnail .item:nth-child(2) .opis,
.carousel.pret .thumbnail .item:nth-child(2) .author,
.carousel.pret .thumbnail .item:nth-child(2) .dugmadNaSlideru
{
    animation: contentVan 1.5s linear 1 forwards;
}
@keyframes contentVan
{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.carousel.sled .strelice button,
.carousel.pret .strelice button
{
    pointer-events: none;
}
/*vreme*/
.vreme
{
    width: 0%;
    height: 5px;
    background-color: #f1bc31;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.sled .vreme, .carousel.pret .vreme
{
    width: 100%;
    animation: protekloVreme 2s linear 1 forwards;
}
@keyframes protekloVreme
{
    to{
        width: 0;
    }
}
@media screen and (max-width: 678px)
{
    .carousel .list .item .sadrzajNaSlici
    {
        padding-right: 0;
    }
    .carousel .list .item .sadrzajNaSlici .title
    {
        font-size: 30px;
    }
}
/* CAROUSEL 
.carouselss {
    background: black;
}

.carouselss img {
    width: 100%;
    height: 700px;
}
*/
/* INFORMACIJE */
.informacije {
    color: white;
    background: black;
    text-align: center;
}

.naslov {
    margin-top: 30px;
}

.btn {
    border-radius: 20px;
    background: white;
    color: black;
    margin-top: 20px;
}

/* PLATFORME */
.platforme {
    margin-top: 200px;
    color: white;
}

.platforme img {
    width: 190px;
    height: 220px;
}

.upoznaj {
    height: 50px;
    width: 200px;
    margin-top: 20px;
}
